.totp {
  background: linear-gradient(269.81deg, lighten(#043865, 30%)  0.01%, lighten(#02182b, 30%) 100%);
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.totp__form,
.totp__confirm {
  width: 420px;
  background: #f8f8f8;
  padding: 20px;
  flex: 0 0 auto;
  border: 2px solid #eee;
}
.totp__form__code,
.totp__confirm__ack {
  margin-bottom: 20px;
}

.totp__form__submit__btn,
.totp__confirm__submit__btn {
  width: 100%;
}

.totp__confirm__qr-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.totp__confirm__qr {
  height: 140px;
  width: 140px;
}

.totp__confirm__submit {

}