.dfsp__dfsp-ca {
  margin-top: 10px;
}
.dfsp__dfsp-ca__info-message {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px;
  background: #f8f8f8;
  padding: 5px;
  border-radius: 5px;
}
.dfsp__dfsp-ca__info-message__text {
  margin-left: 5px;
  font-size: 12px;
  color: #333;
}

.dfsp__dfsp-ca__certificate-validation {
  width: 400px;
  margin: 10px 0px;
}
.dfsp__dfsp-ca__root-certificate {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 20px;
}
.dfsp__dfsp-ca__intermediate-chain {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
