.dfsp__csr {
  margin-top: 10px;
}
.dfsp__csr__submit {
  width: 200px;
  margin-bottom: 20px;
}
.dfsp__csr__csr {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 20px;
}
.dfsp__csr__intermediate-chain {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
