.selection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.selection__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.selection__item {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 20px;
  cursor: pointer;
  border: 5px solid #ddd;
  background: #f4f4f4;
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
  animation: selectionFadeIn 0.5s ease-out 1 forwards;
}

.selection__item:hover {
  background: #fff;
}

.selection__item--hub {
  border-color: #4fc7e7;
}

.selection__item__type {
  font-size: 15px;
  flex: 0 0 20px;
}
.selection__item__label {
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

@keyframes selectionFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
