.password-change {
  background: linear-gradient(269.81deg, lighten(#043865, 30%)  0.01%, lighten(#02182b, 30%) 100%);
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.password-change__form {
  width: 420px;
  background: #f8f8f8;
  padding: 20px;
  flex: 0 0 auto;
  border: 2px solid #eee;
  animation: fadeInAuthForm 0.5s ease-out 1 forwards;

}
.password-change__form__username {
  margin-bottom: 20px;
}
.password-change__form__password {
  margin-bottom: 20px;
}

.password-change__form__submit__btn {
  width: 100%;
}


@keyframes fadeInAuthForm {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
