.message-box {
  display: flex;
  min-height: 40px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 20px;
  overflow: hidden;
  animation: fadeInOverlayMessage 0.2s ease-out 1 forwards;
}

.message-box--centered {
  align-items: center;
  justify-content: center;
}

.message-box--default {
  fill: #999;
  color: #999;
  background: #f4f4f4;
}
.message-box--error {
  fill: #d1344e;
  color: #d1344e;
  background: #fee;
}
.message-box--success {
  fill: #17bc65;
  color: #17bc65;
  background: #cfc;
}

.message-box--warning {
  fill: #f49935;
  color: #f49935;
  background: #ffc;
}

.message-box__icon-box {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message-box__icon {
  margin: 10px;
}
.message-box__messages {
  flex: 1 1 auto;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.message-box__messages--centered {
  flex: 0 0 auto;
}

.message-box__message {
  margin: 3px 0px;
}

@keyframes fadeInOverlayMessage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
