* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Fira Sans, sans-serif;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-overflow-scrolling: touch;
  font-style: normal;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #333;
}

a {
  text-decoration: none;
  color: #00a2df;
}
a:hover {
  color: #48c1ed;
}
p {
  margin: 20px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3a3b3c;
  font-style: normal;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  /*  font-family: Fira Sans, sans-serif;*/
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.05rem;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -0.03rem;
}

h3 {
  font-size: 2rem;
  letter-spacing: -0.025rem;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.8rem;
  letter-spacing: -0.02rem;
  margin-bottom: 10px;
}

h5 {
  font-size: 1.6rem;
  letter-spacing: -0.02rem;
}

h6 {
  font-size: 1.2rem;
  letter-spacing: 0;
}

p {
  font-size: 1.4rem;
  letter-spacing: 0;
}

h6 {
  font-family: Fira Sans, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: Fira Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
