#hub {
  min-width: 0px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  height: 100%;
}
#hub__menu {
  min-width: 0px;
  flex: 0 0 180px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}
#hub__content {
  min-width: 0px;
  flex: 1 1 auto;
  padding: 20px;
}
